<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumin - The Two Minute App</title>
    <!-- <link rel="shortcut icon" href="./assets/creop.png" type="image/x-icon"> -->
    <!-- fontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <!-- font  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Source+Serif+Pro&display=swap"
        rel="stylesheet" />

        <link rel="shortcut icon" href="fevicon.png" type="image/x-icon" />

 <!-- MDB -->
 <link
 href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css"
 rel="stylesheet"
 />


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="scheme.css">
</head>

<body>
    <!-- navigation -->
    <nav>
        <a href="#home"><img src="creop.png" alt="logo.png" /></a>
        <div class="nav-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/schemes">Schemes</a></li>
        <li><a href="/prescription">Personal Data</a></li>
                <li><a href="/appointment">Appointment</a></li>
                <li><a href="/logout">Logout</a></li>

            </ul>
        </div>
    </nav>
    <!-- side navigation -->
    <div id="sideNav">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/schemes">schemes</a></li>
            <li><a href="/prescription">Your Data</a></li>
                <li><a href="/appointment">Appointment</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div id="nav-bar">
        <i class="fa-solid fa-bars" id="menu-bar"></i>
    </div>
    <br>
    <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel"  data-mdb-interval="3000">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv4757nf4_ICEJPXJWxrcEQuce0QJt3ZAIdg&usqp=CAU" class="d-block w-100" alt="Wild Landscape"/>
          </div>
          <div class="carousel-item active">
            <img src="scheme4.jpg" class="d-block w-100" alt="Wild Landscape"/></a>
          </div>
          <div class="carousel-item">
            <img src="https://cdn.eduncle.com/library/scoop-files/2017/08/List-of-Indian-Government-Schemes-Pradhan-Mantri-Yojana-2018.webp" class="d-block w-100" alt="Camera"/>
          </div>
          <div class="carousel-item">
            <img src="https://static.mygov.in/media/blog/2020/12/Bannercmst-scaled.jpg" class=" h-2 d-block w-100" alt="Exotic Fruits"/>
          </div>
        </div>
        <button class="carousel-control-prev dark-color" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <br>
    <div class="table">

        <div class="table-item">
            <table>
                <thead>
                    <tr>
                        <th id="name">Policy</th>
                        <th scope="col">Authority</th>
                        <th id="website" scope="col">Link</th>
                    </tr>
                </thead>

                <tbody id="mytable">

                </tbody>
            </table>
        </div>
    </div>
    </table>
    <footer class="text-center text-lg-start bg-white text-muted">
        <!-- Section: Social media -->
        <section
          class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
        >
          <!-- Left -->
          <div class="me-5 d-none d-lg-block">
            <span>Get connected with us on social networks:</span>
          </div>
          <!-- Left -->
  
          <!-- Right -->
          <div>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="" class="me-4 link-secondary">
              <i class="fab fa-github"></i>
            </a>
          </div>
          <!-- Right -->
        </section>
        <!-- Section: Social media -->
  
        <!-- Section: Links  -->
        <section class="">
          <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase fw-bold mb-4">
                  <i class="fas fa-gem me-3 text-secondary"></i>
                </h6>
                <p>
                  Thanks for using Tumin. Hope we help you to solve your problem
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Services</h6>
                <p>
                  <a href="#about" class="text-reset">About</a>
                </p>
                <p>
                  <a href="/#" class="text-reset">Edit Data</a>
                </p>
                <p>
                  <a href="/#" class="text-reset">Scheme</a>
                </p>
                <p>
                  <a href="#" class="text-reset">Your Data</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                <p>
                  <a href="#hospital" class="text-reset">Connected Hospital</a>
                </p>
                <p>
                  <a href="#about" class="text-reset">About</a>
                </p>
                <p>
                  <a href="#service" class="text-reset">Service</a>
                </p>
                <p>
                  <a href="#!" class="text-reset">Help</a>
                </p>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <!-- Links -->
                <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                <p>
                  <i class="fas fa-home me-3 text-secondary"></i> Satna Dist.Satna
                  (M.P)
                </p>
                <p>
                  <i class="fas fa-envelope me-3 text-secondary"></i>
                  tumin@gmail.com
                </p>
                <p>
                  <i class="fas fa-phone me-3 text-secondary"></i> +919644905810
                </p>
                <p>
                  <i class="fas fa-print me-3 text-secondary"></i> +9196644905810
                </p>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row -->
          </div>
        </section>
        <!-- Section: Links  -->
  
        <!-- Copyright -->
        <div class="flex-row p-4" style="background-color: rgba(0, 0, 0, 0.025)">
          <img src="creop.png" alt="" class="col-md-4 col-lg-3" />
          <span class="col-md-4 col-lg-7">© 2024 Copyright:</span>
          <a class="text-reset fw-bold" href="#">Tumin.com</a>
        </div>
        <!-- Copyright -->
      </footer>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="scheme.js"></script>
<!-- MDB -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"
></script>

</html>