* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* navigation bar */

/* navigation bar */

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  top: 0px;
  height: 11vh;
  z-index: 1;
  background-color: #0aafe6;
}

nav a img {
  height: 80px;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  align-items: center;
  margin-right: 60px;
  list-style: none;
  column-gap: 50px;
}

.nav-menu ul .menu {
  display: flex;
  column-gap: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #a1e3f6;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.menu a {
  color: black;
  cursor: pointer;
}

ul li a:hover {
  color: #a2266e;
}

.menu a:hover {
  color: black;
}

.line {
  background-color: black;
  min-width: 3px;
  height: auto;
}

/* side navigation */
#nav-bar {
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  position: fixed;
  right: 30px;
  top: 15px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  display: none;
}

#nav-bar i {
  background-color: #29b5e4;
  padding: 10px 15px;
  border-radius: 50%;
}

#sideNav {
  width: 250px;
  height: 100vh;
  position: fixed;
  right: -250px;
  top: 0;
  background: #0aafe6;
  z-index: 2;
  transition: 0.5s;
}

#sideNav ul li {
  margin: 30px 20px;
  list-style: none;
}

#sideNav ul li a {
  text-decoration: none;
  color: black;
}

#sideNav ul li a:hover {
  color: #a2266e;
}

/* responsive */

@media screen and (max-width: 1000px) {
  .nav-menu ul {
    display: none;
  }

  #nav-bar {
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s ease-out;
  text-decoration: none;
}
:root {
  --black: #444;
  --light-color: #777;
  --box-shadow: 0.5rem 0.5rem 0 rgba(22, 160, 133, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(0, 0, 0, 0.2);
  --border: 0.2rem solid black;
}

header {
  width: 100%;
  height: 90vh;
  background-image: url("chat.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mainheader {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: right;
  align-items: center;
}

.menubtn {
  margin-right: 60px;
}
.mainheader .menubtn button {
  padding: 10px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
  border-radius: 10px;
}

.left-section button a:hover {
  transition: 2s;
  color: antiquewhite;
  background-color: #0070fa;
}

main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .right-sec {
  padding-right: 70px;
}

main .left-sec {
  padding-left: 100px;
}

.left-sec p {
  margin-top: 20px;
  margin-bottom: 30px;
  word-spacing: 2px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.about{
  
  background-image: url("razer7.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.left-sec button {
  padding: 15px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
  border-radius: 10px;
}

main .right-section {
  padding-right: 70px;
}

main .left-section {
  padding-left: 100px;
  height: 200%;
}

.left-section h2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: lighter;
  color: #000000;
  margin-top: -70px;
}
.left-section {
  height: 100%;
}

.left-section h1 {
  font-size: 55px;
  text-transform: capitalize;
  font-weight: 700;
  margin: 15px 0;
}

.left-section p {
  margin-bottom: 20px;
  font-size: 25px;
  color: var(--black);
  padding: 10px 5px 0 0;
  color: #0070fa;
  height: 120px;
}

.left-section button {
  padding: 15px 45px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border: none;
  background-image: linear-gradient(to right, #649bff, #0070fa, #649bff);
  border-radius: 10px;
  margin-top: 250px;
}
.left-section button a {
  color: white;
}
.left-section button a:hover {
  transition: 2s;
  color: antiquewhite;
  background-color: #0070fa;
}

.icons-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin-left: 2rem;
}
.icons-container .icons {
  background-image: url("razer2.jpg");
  background-repeat: no-repeat;
  border-radius: 0.7rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  text-align: center;
  padding: 2.5rem;
}

.icons-container .icons i {
  font-size: 3.5rem;
  color: rgb(250, 246, 0);
  padding-bottom: 0.7rem;
}
.icons-container .icons h3 {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  padding: 0.5rem;
  text-shadow: 2px brown;
}
.icons-container .icons p {
  font-size: 2.5rem;
  color: rgb(250, 246, 0);
  padding: 0.5rem;
}

.services .box-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  margin-left: 2rem;
  text-align: center;
  padding-top: 1rem;
}
.services .box-container .box {
  background-image: url("razer3.jpg");
  background-repeat: no-repeat;
  border-radius: 0.7rem;
  border: var(--border);
  box-shadow: var(--box-shadow);
  padding: 2.5rem;
}
.services .box-container .box i {
  color: rgb(250, 246, 0);
  font-size: 3.5rem;
  padding-bottom: 0.7rem;
}
.services .box-container .box h3 {
  color: rgb(250, 246, 0);
  font-size: 2rem;
  line-height: 2rem;
  padding: 0.5rem 0;
}
.heading {
  text-align: center;
  padding-bottom: 1rem;
  font-size: 3rem;
  left: 0.4rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  color: rgb(250, 246, 0);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background-image: url("razer7.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffff;
  transition: 1s;
}
.services .box-container .box p {
  color: rgb(255, 255, 255);
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.hospital{
  margin-left: 2rem;
}

.hospital .column {
  float: left;
  width: 30%;
  margin-bottom: 10px;
  padding: 0 8px;
}

.hospital .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.hospital .container {
  background-image: url("razer.gif");
  background-repeat: no-repeat;
  background-size: 91% 100%;
  padding: 0 16px;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}
.hospital .card h2 {
  margin-top: 10px;
  font-weight: bolder;
  font-size: 32px;
  color: rgb(250, 246, 0);
  text-align: center;
  padding: 1px;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
  hr {
    padding: 2px;
    color: aliceblue;
  }
}
.gradient-custom{
  background-image: url("razer99.jpg");
  background-size: 100% 28%;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  margin-top: -15%;
}
@media screen and (max-width: 1000px) {
  .left-section h2 {
    font-size: 15px;
  }
  .left-section h1 {
    font-size: 25px;
    margin-top: 1.5rem;
    color: brown;
  }

  .left-section h2 {
    font-size: 20px;
    color: brown;
    margin-top: -3rem;
  }
  .left-section p {
    font-size: 10px;
    margin-top: -1rem;
    text-transform: capitalize;
    font-weight: bolder;
    color: #242424;
    font-size: large;
  }
  .box-container .heading {
    margin-top: -5rem;
  }

  .right-sec img {
    height: 0px;
    width: 0px;
    font-size: 2px;
  }

  .left-section {
    margin: 2px;
    padding: auto;
    background-image: url("razer7.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  .left-section .btn {
    font-size: small;
    margin-top: 20rem;
  }

  .left-sec h1 {
    width: 20rem;
    font-size: 1.5rem;
  }
  .left-sec h2 {
    margin-top: 2rem;
  }

  button .appointment {
    margin-top: 8rem;
  }
  .right-sec img {
    font-size: 2px;
  }
}
  /* footer */
  
  .main-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    margin: 30px 40px;
  }
  
  .main-footer img {
    height: 150px;
  }
  
  .main-footer .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0;
    flex-wrap: wrap;
    row-gap: 20px;
  }
  
  .main-footer .info ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  
    row-gap: 15px;
  }
  
  .info ul li {
    color: grey;
  }
  
  .info h2 {
    color: #11171d;
    font-weight: 700;
  }
  
  .social {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .social li i {
    color: #41cec6;
    cursor: pointer;
    font-size: 25px;
  }
  
  #policy {
    text-align: center;
    width: 100%;
    margin: 10px 0;
  }